
<div class="container mat-elevation-z8" >
    <div>{{data['selectedGroup']}}</div>
    <div>
        <span>Traffic:</span><mat-radio-group [(ngModel)]="traffic" (change)="onTrafficTypeChange($event)">
            <mat-radio-button value="sum" color="primary">Sum</mat-radio-button>
            <mat-radio-button value="to_from" color="primary">To Sub-Network|From Sub-Network</mat-radio-button>
          </mat-radio-group>
      <span>Granularity:</span><mat-form-field>
        <mat-select [(value)]="granularity" (change)="onGranularityChange($event)">
          <mat-option value="5 min">5 min</mat-option>
          <mat-option value="1 hour">1 hour</mat-option>
          <mat-option value="1 day">1 day</mat-option>
        </mat-select>
      </mat-form-field>

        <span>Statistic:</span><mat-form-field>
            <mat-select [(value)]="statistic" (change)="onStatisticChange($event)">
              <mat-option value="average">Average</mat-option>
              <mat-option value="maximum">Maximum</mat-option>
              <mat-option value="last">Last</mat-option>
              <mat-option value="total">Total</mat-option>
              <mat-option value="percentile">Percentile</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div *ngIf="displayedColumns.length > 0">
      <div></div>
      <div>{{data['selectedTopN']}}</div>
    </div>
    <mat-table #table [dataSource]="dataSource" *ngIf="displayedColumns.length > 0">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container *ngFor="let item of displayedColumns;" matColumnDef="{{item}}">
        <mat-header-cell *matHeaderCellDef> {{item}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[item]}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
